---
title: Home
redirect_from: :title
---

<!DOCTYPE html>
<html lang="en" >
	<head>
		{% include head.html %}
	    {% feed_meta %}
	</head>	

	<body onload="init()" onresize="resize()">
		<div id="window">
			{% include logo.html %}
			<h1 id="title" class="glitch" content="░𝚈 _ ∴ 𝒮⤋ℝ!">
				CYNOSURE
			</h1>

		</div>
	</body>
</html>

<script type="text/javascript">
	let title = document.getElementById("title");
	
	function resize(){
		var prev = title.style.transform;
		console.log(1920 - window.innerWidth/10 );
		title.style.transform = "translate(-50%, 0%)" + " " + "rotate(" + 1920 - window.innerWidth/10 + "deg)";
	}

</script>