.glitch {
	font-weight: 700;
	position: relative;
	animation: glitch-text 1199ms infinite -200ms;
}

.glitch-shadow {
	animation: glitch-shadow 556ms infinite -400ms alternate-reverse, rotate 637ms infinite -20ms alternate;
}

.glitch::before,
.glitch::after {
	position: absolute;
	left: 0;
	top: 0;
	content: attr(content);
	opacity: 0.8;
	user-select: none;
	pointer-events: none;
}

.glitch::before {
	animation: glitch-text 650ms infinite alternate, outer 1000ms infinite,
		before 1538ms linear -1500ms infinite alternate-reverse;
	clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}

.glitch::after {
	animation: glitch-text 375ms reverse infinite, outer 957ms -500ms infinite reverse;
	clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
}

/* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */

@keyframes glitch-text {
	0% {
		text-shadow: 0.05em 0 12px rgba(255, 0, 0, 0.75),
			-0.05em -0.025em 10px rgba(0, 255, 0, 0.75),
			-0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
	}

	14% {
		text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
			-0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
			-0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
	}

	15% {
		text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
			0.025em 0.025em 5px rgba(0, 255, 0, 0.75),
			-0.05em -0.05em 3px rgba(0, 0, 255, 0.75);
	}

	49% {
		text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
			0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
			-0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
	}

	50% {
		text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
			0.05em 0 0 rgba(0, 255, 0, 0.75),
			0 -0.05em 0 rgba(0, 0, 255, 0.75);
	}

	99% {
		text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
			0.05em 0 0 rgba(0, 255, 0, 0.75),
			0 -0.05em 0 rgba(0, 0, 255, 0.75);
	}

	100% {
		text-shadow: -0.025em 0 5px rgba(255, 0, 0, 0.75),
			-0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
			-0.025em -0.05em 12px rgba(0, 0, 255, 0.75);
	}
}


@keyframes glitch-shadow {
	0% {
		filter: drop-shadow(0.25em 0 12px rgba(255, 0, 0, 0.75)) drop-shadow(-0.25em -0.25em 10px rgba(0, 255, 0, 0.75)) drop-shadow(-0.225em 0.5em 0 rgba(0, 0, 255, 0.75));
	}

	14% {
		filter: drop-shadow(0.25em 0.0 rgba(255, 0, 0, 0.75)) drop-shadow(-0.25em -0.25em 0 rgba(0, 255, 0, 0.75)) drop-shadow(-0.225em 0.5em 0 rgba(0, 0, 255, 0.75));
	}

	15% {
		filter: drop-shadow(-0.25em -0.25em 0 rgba(255, 0, 0, 0.75)) drop-shadow(0.225em 0.25em 5px rgba(0, 255, 0, 0.75)) drop-shadow(-0.25em -0.5em 3px rgba(0, 0, 255, 0.75));
	}

	49% {
		filter: drop-shadow(-0.25em -0.25em 0 rgba(255, 0, 0, 0.75)) drop-shadow(0.225em 0.25em 0 rgba(0, 255, 0, 0.75)) drop-shadow(-0.25em -0.5em 0 rgba(0, 0, 255, 0.75));
	}

	50% {
		filter: drop-shadow(0.225em 0.5em 0.0 rgba(255, 0, 0, 0.75)) drop-shadow(0.25em 0.0 rgba(0, 255, 0, 0.75)) drop-shadow(0 -0.25em 0 rgba(0, 0, 255, 0.75));
	}

	99% {
		filter: drop-shadow(0.225em 0.5em 0 rgba(255, 0, 0, 0.75)) drop-shadow(0.25em 0.0 rgba(0, 255, 0, 0.75)) drop-shadow(0 -0.25em 0 rgba(0, 0, 255, 0.75));
	}

	100% {
		filter: drop-shadow(-0.225em 0 5px rgba(255, 0, 0, 0.75)) drop-shadow(-0.225em -0.25em 0 rgba(0, 255, 0, 0.75)) drop-shadow(-0.225em -0.5em 12px rgba(0, 0, 255, 0.75));
	}
}

@keyframes outer {
	0% {
		opacity: 30%;
	}

	14% {
		opacity: 20%;
		transform: translate(-0.04em, -0.026em);
	}

	15% {
		opacity: 100%;
		transform: translate(0.02em, 0.016em) rotate(-0.5deg);
	}

	49% {
		transform: rotate(0.1deg);
		opacity: 80%;
	}

	50% {
		transform: rotate(-0.2deg);
	}

	60% {
		transform: rotate(0.1deg) translate(0.015em, 0.002em);
		opacity: 40%;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(4deg);
	}

	7% {
		transform: rotate(3deg);
	}

	10% {
		transform: rotate(-1deg);
	}

	14% {
		transform: rotate(4deg);
	}

	15% {
		transform: rotate(-2deg);
	}

	16% {
		transform: rotate(-3deg);
	}

	35% {
		transform: rotate(-12deg);
	}

	49% {
		transform: rotate(1deg);
	}

	50% {
		transform: rotate(-4deg);
	}

	55% {
		transform: rotate(-6deg);
	}

	60% {
		transform: rotate(4deg);
	}

	75% {
		transform: rotate(8deg);
	}

	80% {
		transform: rotate(-4deg);
	}

	85% {
		transform: rotate(3deg);
	}

	97% {
		transform: rotate(-8deg);
	}
}

@keyframes before {
	0% {
		clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
	}

	20% {
		clip-path: polygon(0 0, 100% 0, 100% 45%, 0 75%);
	}

	22% {
		clip-path: polygon(0 0, 100% 0, 100% 35%, 0 25%);
	}

	75% {
		clip-path: polygon(0 0, 100% 0, 100% 35%, 0 25%);
	}

	76% {
		clip-path: polygon(0 0, 100% 0, 100% 5%, 0 75%);
	}
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
	}
}