#compass{
	height: 100%;
	position: absolute;
}

#needle{
	height: 100%;
	position: absolute;
	pointer-events: none;
	transition: transform 1.5s ease-in-out;
}

#logo:hover > #needle{
	transform: rotate(180deg);
}