@import url(modules/logo.css);
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Righteous&display=swap');

*{
	font-family: 'Fira Code', 'monospace';
	color: #fff;
}

#logo {
	position: absolute;
	top: 5px;
	left: 5px;
	height: 80px;
	width: 80px;
}

#column{
	width: min(1000px, 96%);
	margin: 0 auto;
}

body{
	height: 100%;
	background: linear-gradient(122deg, #222 0%, #111 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1{
	color: white;
	font-size: 7em;
    font-family: 'arial';
	margin: 35px 0px 35px 0px;
	text-align: center;
}

#title-container{
	width: fit-content;
	margin: 0 auto;
}

footer{
	padding: 20px 0px 40px 0px;
}


#tags ul { list-style-type: none; }
#tags li { 
	padding: 10px 0px 10px 0px;
	font-size: 1.1em;
	white-space: pre;
}