@import url(modules/logo.css);

#logo {
	position: absolute;
	top: 15px;
	left: 15px;
	height: 80px;
}

body {
	background: linear-gradient(122deg, rgba(35,35,35,1) 0%, rgba(2,2,2,1) 100%);
	min-height: 100vh;
	display: grid;
	place-items: center;
	font-family: "arial";
}

h1{
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translate(-50%, 0);
	color: white;
	font-size: 10em;
}